<% address_id = address_type.chars.first %>
<% country_id = address_type == 'billing' ? 'bcountry' : 'scountry' %>
<% ADDRESS_FIELDS.each do |field| %>
  <% if field == "country" %>

  <p class="field" id=<%="#{address_id}country" %>>
    <%= address_form.label :country_id, t(:country) %><span class="required">*</span><br />
    <span id=<%="#{address_id}country" %>>
      <%= address_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %>
    </span>

  </p>
  <% elsif field == "state" && Spree::Config[:address_requires_state] %>

    <p class="field" id=<%="#{address_id}state" %>>
      <% have_states = !address.country.states.empty? %>

      <%= address_form.label :state, t(:state) %><%= state_required_label %><br />

      <% state_elements = [
         address_form.collection_select(:state_id, address.country.states,
                            :id, :name,
                            {:include_blank => true},
                            {:class => have_states ? state_required_class : 'hidden',
                              :disabled => !have_states}) +
         address_form.text_field(:state_name,
                            :class => !have_states ? state_required_class : 'hidden',
                            :disabled => have_states)
         ].join.gsub('"', "'").gsub("\n", "")
      %>
      <%= javascript_tag do -%>
        document.write("<%== state_elements %>");
      <% end %>
    </p>
      <noscript>
        <%= address_form.text_field :state_name, :class => state_required_class %>
      </noscript>

  <% else %>
    <% next if field == "company" && !Spree::Config[:company] %>
    <%= address_field(address_form, field.to_sym, address_name) %>
  <% end %>
<% end %>
<% if Spree::Config["alternative_#{address_name[0] == 'b' ? 'billing' : 'shipping'}_phone"] %>
  <%= address_field(address_form, :alternative_phone, address_name) %>
<% end %>
