<% ADDRESS_FIELDS.each do |field| %>
  <% if field == "country" %>
    <%= address_form.label :country_id, t(field, :scope => [:activerecord, :attributes, :address]) %><span class="req">*</span><br />
    <span><%= address_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'} %></span>
  <% elsif field == "state" && Spree::Config[:address_requires_state] %>
    <%= address_field(address_form, :state, address_name) { address_state(address_form, address.country) } %>
  <% else %>
    <%= address_field(address_form, field.to_sym, address_name) %>
  <% end %>
<% end %>
<% if Spree::AddressBook::Config["alternative_#{address_name}_phone"] %>
  <%= address_field(address_form, :alternative_phone, address_name) %>
<% end %>
