<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @address } %>
<%= form_for @address, :html => {:id => "checkout_form_address"} do |f| %>
<fieldset>
  <%= content_tag(:legend, t(:new_shipping_address, :scope => :address_book)) %>
  <div class="inner">
    <%= render :partial => 'spree/address/form', :locals => {
      :address_name => 'address',
      :form => f,
      :address_type => 'shipping',
      :address => @address
    } %>
  </div>
  <%= f.submit t(:save, :scope => :address_book) %>
</fieldset>
<% end %>
