<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t(:new_shipping_address, scope: :address_book) %></h3>
    </div>
    <div class="panel-body">
      <%= render 'spree/shared/error_messages', target: @address %>
      <%= form_for @address, html: { id: 'checkout_form_address' } do |f| %>
        <fieldset>
          <div class="inner">
            <%= render 'spree/addresses/form',
              address_name: 'address',
              address_form: f,
              address_type: 'shipping',
              address: @address
            %>
          </div>
          <%= f.submit t(:save, scope: :address_book), class: 'btn btn-primary' %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
