<% @addresses = current_user ? current_user.addresses : [] %>
<style>
  div.inner input[type=text], div.inner select { width: 80%; }
  .hidden { display: none; }
  div#checkout #checkout_form_address #billing .select_address label { float:none; }
  div#checkout #checkout_form_address #shipping .select_address label { float:none; }
</style>

<% ['billing', 'shipping'].each do |address_type|
  next if address_type == 'billing' && Spree::Config[:disable_bill_address]
  address_name = "#{address_type[0...4]}_address" %>
<fieldset id="<%= address_type %>">
  <legend><%= t(address_type + "_address")%></legend>
  <% if address_type == 'shipping' && !Spree::Config[:disable_bill_address] %>
    <p class="field checkbox">
      <label for="order_use_billing" id="use_billing">
        <%= check_box_tag 'order[use_billing]', '1', (!(@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)) %> <%= t("use_billing_address") %>
      </label>
    </p>
  <% end %>
  <div class="select_address">
    <p class="field">
      <% if @addresses.present? %>
        <% @addresses.each do |address| %>
        <span id="<%= [address_type, dom_id(address)].join('_') %>">
          <label><%= form.radio_button "#{address_name}_id", address.id %> <%= address %></label> <%= link_to t(:remove), address, :method => :delete, :remote => true %><br />
        </span>
        <% end %>
        <label><%= form.radio_button "#{address_name}_id", 0 %> <%= t('other_address') %></label>
      <% end %>
    </p>
  </div>
  <%= form.fields_for address_name do |address_form| %>
    <div class="inner">
      <p class="field">&nbsp;</p>
      <%= render :partial => 'addresses/form', :locals => {
        :address_name => address_name,
        :address_form => address_form,
        :address => @order.send(address_name)
      } %>    
    </div>
  <% end %>
</fieldset>
<% end %>

<hr class="space" />
<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>" />
</div>
<% if @addresses.present? %>
  <%= javascript_tag do %>
  $(document).ready(function(){
    $(".inner input").attr('disabled', 'disabled');
    $(".inner select").attr('disabled', 'disabled');
    $(".inner").hide();
    
    $("input[name='order[bill_address_id]']:radio").change(function(){
      if ($("input[name='order[bill_address_id]']:checked").val() == '0') {
        $("#billing .inner input").removeAttr('disabled');
        $("#billing .inner select").removeAttr('disabled');
        $("#billing .inner").fadeIn();
      } else {
        $("#billing .inner input").attr('disabled', 'disabled');
        $("#billing .inner select").attr('disabled', 'disabled');
        $("#billing .inner").fadeOut();        
      }
    });
    
    $("input[name='order[ship_address_id]']:radio").change(function(){
      if ($("input[name='order[ship_address_id]']:checked").val() == '0') {
        $("#shipping .inner input").removeAttr('disabled');
        $("#shipping .inner select").removeAttr('disabled');
        $("#shipping .inner").fadeIn();
      } else {
        $("#shipping .inner input").attr('disabled', 'disabled');
        $("#shipping .inner select").attr('disabled', 'disabled');
        $("#shipping .inner").fadeOut();        
      }
    });
    
  });
  <% end %>
<% end %>
