<% @addresses = current_user ? current_user.addresses : [] %>

<% ['billing', 'shipping'].each do |address_type|
  next if address_type == 'billing' && Spree::AddressBook::Config[:disable_bill_address]
  address_name = "#{address_type[0...4]}_address" %>
<div class="columns alpha six" data-hook="<%= address_type %>_fieldset_wrapper">
<fieldset id="<%= address_type %>">
  <legend><%= t(address_type + "_address")%></legend>
  <% if address_type == 'shipping' && !Spree::AddressBook::Config[:disable_bill_address] %>
    <p class="field checkbox">
      <label for="order_use_billing" id="use_billing">
        <%= check_box_tag 'order[use_billing]', '1', (!(@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address.eql?(@order.ship_address)) %> <%= t("use_billing_address") %>
      </label>
    </p>
  <% end %>
  <div class="select_address">
    <p class="field">
      <% if @addresses.present? %>
        <% @addresses.each_with_index do |address, idx| %>
        <span id="<%= [address_type, dom_id(address)].join('_') %>">
          <label><%= form.radio_button "#{address_name}_id", address.id, :checked => (idx == 0) %> <%= address %></label> <%= link_to t(:edit), edit_address_path(address) %><br />
        </span>
        <% end %>
        <label><%= form.radio_button "#{address_name}_id", 0 %> <%= t('other_address') %></label>
      <% end %>
    </p>
  </div>
  <%= form.fields_for address_name do |address_form| %>
    <div class="inner">
      <p class="field">&nbsp;</p>
      <%= render :partial => 'spree/addresses/form', :locals => {
        :address_name => address_name,
        :address_form => address_form,
        :address => Spree::Address.default
      } %>    
    </div>
  <% end %>
</fieldset>
</div>
<% end %>

<hr class="space" />
<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>" />
</div>
