<div class="row">
  <div class="alpha six columns">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= I18n.t(:default_addresses, scope: :address_book) %></legend>
      <div class="field">
        <%= check_box_tag('address_billing') %>
        <%= label_tag I18n.t(:default_billing_address, scope: :address_book) %>
      </div>
      <div class="field">
        <%= check_box_tag('address_shipping') %>
        <%= label_tag I18n.t(:default_shipping_address, scope: :address_book) %>
      </div>
    </fieldset>
  </div>
  <div class="alpha six columns">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= I18n.t(:use_current_order, scope: :address_book) %></legend>
      <div class="field">
        <%= check_box_tag('address_current_order_bill') %>
        <%= label_tag I18n.t(:use_billing_address, scope: :address_book) %>
      </div>
      <div class="field">
        <%= check_box_tag('address_current_order_ship') %>
        <%= label_tag I18n.t(:use_shipping_address, scope: :address_book) %>
      </div>
      </div>
    </fieldset>
  </div>
</div>
