<%= render :partial => 'spree/admin/shared/order_tabs', :locals => { :current => 'Addresses' } %>

<% content_for :page_title do %>
  <i class="fa fa-arrow-right"></i> <%= I18n.t(:addresses, scope: :address_book) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:new_address), new_admin_order_address_url(@order), :icon => 'plus' %></li>
  <li><%= button_link_to Spree.t(:back_to_orders_list), admin_orders_path, :icon => 'arrow-left' %></li>
<% end %>

<fieldset class="no-border-bottom">
  <legend><%= I18n.t(:default_user_addresses, scope: :address_book) %></legend>
  <% if @default_user_addresses_hash %>
    <table id="user_addresses">
      <thead>
        <tr class="<%= cycle('even', 'odd') %>">
          <th><%= I18n.t(:addresses, scope: :address_book) %></th>
          <th class="align-center"><%= I18n.t(:type, scope: :address_book) %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
      <% @default_user_addresses_hash.each do |type, address| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= address %></td>
          <td class="align-center"><%= type %></td>
          <td class="actions">
            <%= link_to_edit_url edit_admin_order_address_url(@order, address), :no_text => true %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</fieldset>

<fieldset class="no-border-bottom">
  <legend><%= I18n.t(:current_order_addresses, scope: :address_book) %></legend>
  <% if @current_order_addresses_hash %>
    <table id="user_addresses">
      <thead>
        <tr class="<%= cycle('even', 'odd') %>">
          <th><%= I18n.t(:addresses, scope: :address_book) %></th>
          <th class="align-center"><%= I18n.t(:type, scope: :address_book) %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
      <% @current_order_addresses_hash.each do |type, address| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= address %></td>
          <td class="align-center"><%= type %></td>
          <td class="actions">
            <%= link_to_edit_url edit_admin_order_address_url(@order, address), :no_text => true %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</fieldset>

<% if @previous_order_addresses_hash %>
  <fieldset class="no-border-bottom">
    <legend><%= I18n.t(:previous_order_addresses, scope: :address_book) %></legend>
      <table id="user_addresses">
        <thead>
          <tr class="<%= cycle('even', 'odd') %>">
            <th><%= I18n.t(:addresses, scope: :address_book) %></th>
            <th class="align-center"><%= I18n.t(:type, scope: :address_book) %></th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
        <% @previous_order_addresses_hash.each do |type, address| %>
          <tr class="<%= cycle('even', 'odd') %>">
            <td><%= address %></td>
            <td class="align-center"><%= type %></td>
            <td class="actions">
              <%= link_to_edit_url edit_admin_order_address_url(@order, address), :no_text => true %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </fieldset>
<% end %>

<fieldset class="no-border-bottom">
  <legend><%= I18n.t(:all_user_addresses, scope: :address_book) %></legend>
  <% if @user && @user.addresses.present? %>
  <table id="user_addresses">
    <thead>
      <tr class="<%= cycle('even', 'odd') %>">
        <th><%= I18n.t(:addresses, scope: :address_book) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @user.addresses.each do |address| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= address %></td>
        <td class="actions">
          <%= link_to_edit_url edit_admin_order_address_url(@order, address), :no_text => true %>
          <%= link_to '', admin_order_address_url(@order, address), { :method => :delete,  data: {:confirm => Spree.t(:are_you_sure)}, no_text: true, class: 'delete-resource fa fa-trash icon_link with-tip no-text'} %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <div id="users-address-list-empty">
    <%= I18n.t(:no_addresses_on_file, :scope => :address_book) %>
  </div>
  <% end %>
</fieldset>
