<% if current_user.addresses.present? %>
<h3><%= Spree::Address.model_name.human(:count => 2) %></h3>

<%= content_tag :ul, :id => 'user-address-list' do %>
  <% current_user.addresses.each do |a| %>
    <%= content_tag_for :li, a do %>

      <div class="address">
        <%= a %>
      </div>

      <div class="controls">
        <%= link_to t(:edit), edit_address_path(a) %>
        <%= link_to t(:remove), address_path(a),
            :method => :delete, :confirm => t(:are_you_sure) %>
      </div>

    <% end %>
  <% end %>
<% end  %>

<% end %>
